body { 
    background-size: 20px 20px;
    background-image: linear-gradient(to right, black 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    background-color: lightgrey;
    font-family: Helvetica, Arial;
}

.clr{
	clear: both;
}

#map{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 80px;
	width: 80%;
	height: 300px;
	border: 2px solid black;
	
}

/*footer*/

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: black;
	color: white;
 }

.footer ul{
	margin: 10px;
	padding: 0px;
	list-style: none;
	float: right;
}

.footer li{
	display: inline;
}

.footer a{
	color: white;
	text-decoration: none;
}

footer #branding{
	margin: 0px;
	padding: 0px;
	float: left;
}
