body {
  margin: 0;
  padding: 0;
  background-size: 20px 20px;
  background-image: linear-gradient(to right, black 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  background-color: lightgrey;
  font-family: Helvetica, Arial;
}

header {
  padding: 0 0 20px 10px;
  height: 30px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

#map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  bottom: 0;
  width: 80%;
  max-width: 900px;
  min-height: 400px;
  border: dashed 1px black;
}

footer {
  display: flex;
  border: 1px black solid;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;

  justify-content: space-around;
}

footer a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: true;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 400px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: lightgrey;
  color: #000;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content p {
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content iframe {
  margin: 0;
  display: block;
  padding: 10px;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

.player {
  margin: 0px;
  padding: 0px;
  height: 280px;
}
